extends layout

block content
  div(id="app")
  script(type="text/javascript" src="https://i.bstu.cn/js/loading.js")
  script(type="text/javascript" src="https://i.bstu.cn/js/vendor.bundle.js")
  script(type="text/javascript" src="https://i.bstu.cn/js/index.bundle.js")
