doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://i.bstu.cn/css/index.bundle.css')
    script.
      var user = {headImg: 'https://ss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/a04ecb20.jpg', name: 'awei'};
  body
    block content
