.full_screen {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  //background: #ececec;
  background-image: url("../../public/img/main_bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rotating {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;

  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotating {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
}

.pagenotfound_text {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.full_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 256px;
  margin-left: -100px;
  button {
    padding: 10px 20px;
    background: #fff;
    border: 0;
    margin: 10px;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
  }
  button:hover {
    box-shadow: 0 5px 5px #a2a2a2;
  }
}